/* Dnd.module.css */

.dragArea {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dropZones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dropZoneRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.answerColumns {
  display: flex;
  margin-top: 20px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
}

.label {
  width: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
